.bg-moffitt-blue {
  background-color: #00589a;
}

.text-moffitt-blue {
  color: #00589a;
}

.bg-moffitt-light-blue {
  background-color: #58b0e3;
}

.text-moffitt-light-blue {
  color: #58b0e3;
}

.bg-moffitt-green {
  background-color: #82c878;
}

.text-moffitt-green {
  color: #82c878;
}

.bg-moffit-orange {
  background-color: #faa555;
}

.text-moffitt-orange {
  color: #faa555;
}

.bg-moffit-grey {
  background-color: #bec3c3;
}

.text-moffitt-grey {
  color: #bec3c3;
}

.bg-moffit-yellow {
  background-color: #ffcd5a;
}

.text-moffitt-yellow {
  color: #ffcd5a;
}

.bg-moffit-red {
  background-color: #eb1455;
}

.text-moffitt-red {
  color: #eb1455;
}

.text-white {
  color: white;
}

.bg-white {
  background-color: white;
}
